@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@500&display=swap');
body {
    width: 100%;
    height: 100%;
    font-family: 'Saira Condensed', sans-serif;
}

.container {
    display: block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    border: dashed 1px black;
    padding: 20px;
    background-color: #6B7280;
    border-radius: 5px;
    box-shadow: black 5px 5px;
}

#bill-amount {
    width: 50%;
    height: 30px;
}

#cash-given {
    width: 50%;
    height: 30px;
}

input {
    text-align: center;
    border-radius: 5px;
}

#btn-change {
    border-radius: 3px;
    padding: px;
    box-shadow: black 1px 1px;
    cursor: pointer;
    font-family: 'Saira Condensed', sans-serif;
    background-color: red;
}

td,
th {
    border: solid black 1px;
    padding: 5px;
}

.returnNotes {
    background-color: white;
}

table {
    border-spacing: 0px;
    margin: auto;
}